<form action="/{{itemid}}/editpage" method="POST">
    <input type="text" name="title" value="{{title}}">
    <input type="text" name="description" value="{{itemdescription}}">
    <input type="date" name="date" id="" value="{{datefound}}">
    <input type="time" name="time" id="" value="{{timefound}}">
    <input type="text" name="location" id="" value="{{locationfound}}">
    <input type="email" name="email" id="" value="{{email}}">
    <input type="submit" name="submit">
</form>