<section class="foundMain">
    <div class="nav">
        <a href="/"><input type="button" value="Home" class="homeButton"></a>
        <a href="/about"><input type="button" value="About" class="aboutButton"></a>
    </div>
    <div class="container">
        <div class="wrapper">
            <div class="company-info">
                <h1 class="foundTitle"><span>Report</span> A Found Object</h1>
            </div>
            <div class="contact">
                <form action="" method="POST">
                    <input type="text" name="title" placeholder="Title">
                    <input type="date" name="date" id="">
                    <input type="time" name="time" id="">
                    <input type="email" name="email" id="" placeholder="Email Address">
                    <input type="text" name="location" id="" placeholder="Where did you find it?" class="full">
                    <textarea name="description" rows="5" placeholder="Description of Item" class="full"></textarea>
                    <input type="submit" name="submit" class="foundSubmit">
                </form>
            </div>
        </div>
    </div>
    <br class="lineBreak">
    {{#each items}}
    <p>
        {{title}} | 
        {{itemdescription}} |
        {{datefound}} |
        {{timefound}} |
        {{locationfound}} |
        {{email}}
        <form action="" method="POST">
            <a href="/{{itemid}}/editpage"><input type="button" name="edit" value="Edit"></a>
            <a href="/{{itemid}}/deletepage"><input type="button" name="delete" value="trashCanIcon"></a>
        </form>
    </p>
    {{/each}}
</section>