<div class="nav">
    <a href="/"><input type="button" value="Home" class="homeButton"></a>
    <a href="#"><input type="button" value="About" class="aboutButton"></a>
</div>
<h1 class="foundTitle">Report A Found Object</h1>
<form action="" method="POST">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="description" placeholder="Description of Item">
    <input type="date" name="date" id="">
    <input type="time" name="time" id="">
    <input type="text" name="location" id="" placeholder="Where did you find it?">
    <input type="email" name="email" id="" placeholder="Email Address">
    <input type="submit" name="submit">
</form>
<br class="lineBreak">
{{#each items}}
<p>
    {{title}} | 
    {{itemdescription}} |
    {{datefound}} |
    {{timefound}} |
    {{locationfound}} |
    {{email}}
    <form action="" method="POST">
        <a href="/{{itemid}}/editpage"><input type="button" name="edit" value="Edit"></a>
        <a href="/{{itemid}}/deletepage"><input type="button" name="delete" value="trashCanIcon"></a>
    </form>
</p>
{{/each}}