<section class="lostMain">
    <div class="nav">
        <a href="/"><input type="button" value="Home" class="homeButton"></a>
        <a href="#"><input type="button" value="About" class="aboutButton"></a>
    </div>
    <div class="container">
        <div class="wrapper">
            <div class="company-info">
                <h1 class="lostHeader"><span>Search</span> For A Lost Item Below</h1>
            </div>
            <div class="contact">
                <form action="/searchpage" method="POST">
                    <input type="text" name="title" placeholder="Title">
                    <input type="date" name="date" id="">
                    <input type="time" name="time" id="">
                    <input type="email" name="email" id="" placeholder="Email Address">
                    <input type="text" name="location" id="" placeholder="Where did you find it?" class="full">
                    <textarea name="description" rows="5" placeholder="Description of Item" class="full"></textarea>
                    <input type="submit" name="submit" class="foundSubmit">
                </form>
            </div>
        </div>
    </div>
    <br class="lineBreak">
    <div class="listParent">
    {{#each items}}
        <div class="listLostItems">
            <p>
                Title: {{title}}
                <br> 
                Description: {{itemdescription}}
                <br> 
                Date Found: {{datefound}}
                <br> 
                Time Found: {{timefound}}
                <br> 
                Location: {{locationfound}}
                <br> 
                Email: {{email}}
                <form action="" method="POST" class="listItemsButtons">
                    <a href="/{{itemid}}/editpage"><input type="button" name="edit" value="Edit"></a>
                    <a href="/{{itemid}}/deletepage"><i class="fas fa-trash-alt"></i></a>
                </form>
            </p>
        </div>
        {{/each}}
    </div>
</section>