<h1 class="lostTitle">Search For A Lost Item Below</h1>
<form action="/searchpage" method="POST">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="description" placeholder="Description of Item">
    <input type="date" name="date" id="">
    <input type="time" name="time" id="">
    <input type="text" name="location" id="" placeholder="Where did you find it?">
    <input type="email" name="email" id="" placeholder="Email Address">
    <input type="submit" name="search" value="Search">
</form>
<br class="lineBreak">

{{#each items}}
<p>
    {{title}} | 
    {{itemdescription}} |
    {{datefound}} |
    {{timefound}} |
    {{locationfound}} |
    {{email}}
    <form action="" method="POST">
        <a href="/{{itemid}}/editpage"><input type="button" name="edit" value="Edit"></a>
        <a href="/{{itemid}}/deletepage"><i class="fas fa-trash-alt"></i></a>
    </form>
</p>
{{/each}}