<div class="nav">
    <a href="/"><input type="button" value="Home" class="homeButton"></a>
    <a href="/about"><input type="button" value="About" class="aboutButton"></a>
</div>
<div class="container">
    <div class="wrapper">
        <div class="company-info">
            <h1 class="lostHeader">Your Results!</h1>
        </div>
    {{#each items}}
        <div class="contact">
            <form action="/{{title}}/searchpage" method="POST">
                <input type="text" name="title" value="{{title}}">
                <input type="date" name="date" value="{{datefound}}">
                <input type="time" name="time" value="{{timefound}}">
                <input type="email" name="email" value="{{email}}">
                <input type="text" name="location" value="{{locationfound}}" class="full">
                <textarea name="description" rows="5" class="full">{{itemdescription}}</textarea>
                <a href="/{{itemid}}/editpage" class="full"><input type="button" name="edit" value="Edit" class="foundSubmit"></a>
                <a href="/lostItem" class="full"><input type="button" name="back" value="Back" class="foundSubmit"></a>
            </form>
        </div>
    {{/each}}
    </div>
</div>


